/*        GLOBAL     */

h1 {
    font-family: marvin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6vw;
    margin: 5px;
    
  }
  
  h2 {
    font-family: tomarik-display-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4vw;


  }
  h3 {
    font-family: ccsignlanguage, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    margin:15px;
    color: #465e94;
    text-shadow: 1.5px 1.5px 1px #000000;
  }

  a {
    color:#465e94;
    text-shadow: 1.2px 1.2px 1px #8F59AE;
    text-decoration: none;
    font-size:1.8vw;
  }

  p {
    font-size: 1.2em;
    margin: auto;
    color: #8F59AE;
    text-shadow: 1.2px 1.2px 1px #000000;
    font-size: 2.5vw;
  }


body {
    margin: 0px;

}


.header {
    background-color: #465e94;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efc67e;
    text-shadow: 5px 5px 5px #af6793;
}

footer {
    background-color: #465e94;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
  color: #E9FA00;
}

.linkbutton {
    background: #c5ec86;
    margin: 15px;
    display: block;
    border-radius: 25px;
    text-align: center;
    padding: 6px;
    box-shadow: -5px -5px 1px  #465e94;
    text-shadow: 1.2px 1.2px 1.2px #000000;
    
}


.wrapper {
    background: 
    linear-gradient(
    to top left,
    #8F8D5F,
    #8F8D5F 20%,
    #EFC67E 20%, 
    #EFC67E 40%,
    #DB8060 40%,
    #DB8060 60%,
    #D9637D 60%,
    #AF6793 80%,
    #8F59AE 80%);
    
    text-align: center;
    width: 100%;
    min-height:100vh;

    }


.nav-list {
    justify-content: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 0px;
    margin: 10px;
    float: right;
  }
  
  .nav-item {
    color: #c5ec86;;
    margin: 5px;
    
  }
  
  .nav-link {
    color: #c5ec86;
    text-decoration: none;
    text-shadow: 5px 5px 5px #000000;
  }
  
  .nav-link-current {
    text-decoration: none;
    color: #E9FA00;
    text-shadow: 5px 5px 5px #000000;
  }



/*        HOME PAGE     */



ul {

    list-style: none;
    margin: 0px;
    padding: 0px;
}

.front-container {
    text-align: center;
    width: 100%;
    background: repeating-conic-gradient(#af6793 0% 25%, #d9637d 25% 50%);
    background-size: 100px 100px;
    ;
}


.welcome {
    display: inline-block;
    background-color: #efc67e;
    margin:20px;
    box-shadow: 5px 5px 5px 6px #44300e;
    padding: 15px;

}

.list {
    display: inline-block;
    margin:20px;
    border: 10px solid #465e94;
    background-color: #AF6793;
    border-radius: 25px;
    box-shadow: inset  0px 0px 14px 0px #8F59AE;
    min-width: 60%;
}



/*         OTHER PAGES     */


.align-element {
    text-align: center;
    margin:auto;
    width:50%;
    padding:10px;
}


.image-wrapper-a {
    display: flex;
    
}


.gallery {
    flex: 33.33%;
    padding: 5px;
}

.pin-gallery {
display: inline-block;
margin: 80px;
}

.rounded-corners {
    border: solid;
    border-radius: 25%;
    width: 100%;
    height: auto;
}

.image-holder {

  margin:auto;
  width:50%;
  padding:10px;
}

.text-holder {
    display: inline-block;
    background-color: #efc67e;
    box-shadow: 5px 5px 5px 6px #44300e;
    padding: 20px;
    margin:40px;

}




#bounce-in-left {
  animation-name: bounce-left;
  animation-duration: 1.5s;
  position: relative;
  height: 100%;
  width: 100%;

}

@keyframes bounce-left {
  0%{right: 300px;}
  50%{right: 0px;}
  100%{right: 300px;}
}

#bounce-in-right {
  animation-name: bounce-right;
  animation-duration: 1.5s;
  position: relative;
  height: 100%;
  width: 100%;

}

@keyframes bounce-right {
  0%{left: 300px;}
  50%{left: 0px;}
  100%{left: 300px;}
}

